#title {
  text-align: center;
}

#color-palette {
  width: 50%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

#pixel-board {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0;
}

.pixel {
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#section-button {
  text-align: center;
  margin-bottom: 20px;
}

#clear-board {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
